.Product {
	height: 50px;
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	border-radius: 5px;

	span {
		text-align: start;
		min-width: 5rem;

		&:nth-child(1) {
			margin-left: 2rem;
		}

		&:last-child {
			margin-right: 2rem;
		}
	}
}
